header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37;
    font-size: 25px;
    padding: 10px;
}

footer { /* Note: Currently, the footer is technically rendered as a child of the body, not of the content div. I'm unsure if I'm allowed to edit the content div's CSS yet, but I'll swap the footer over for the sake of accessibility and CSS vs HTML consistency when I can. */
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding-top: 15px;
    font-family: Futura, Trebuchet MS;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    text-align: center;
}

body {
    background-color: #A0A8B0;
    position: relative; /* Hack to fix absolute positioning on the footer; it needs a parent with non-default positioning. */
    min-height: 100vh;
    margin: 0;
}

body::after { /* Also a footer hack. Why does CSS make it THIS HARD to make a footer? */
  content: '';
  display: block;
  height: 30px; /* Same height as the footer */
}

h1 {
    color: #AC2B37;
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    padding: 10px;
}

p {
    padding: 10px;
}

#content {
    padding: 3px;
}

#main-img {
    /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#main_nav ul {
    padding: 0;
    margin: 0;
}

#main_nav li  {
    list-style-type: none; /* remove bullet points */ 
}

#main_nav li a {
    display: block;
    text-decoration: none; /* remove underline */
    border-radius: 10px;  /* rounded corners */
    margin: 6px;
    padding: 9px;
    color: #222;
    font-weight: bold;

    /* nice gradient shade on the buttons */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

    border: 1px solid #666; /* dark outline */
}

nav li:active {
    background-color: #ccc;
    background-image: none;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}